/*********** GLOBAL **********/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container-big{
  width: 80%;
  margin: 0 auto;
}

.container-small{
  width: 70%;
  margin: 0 auto;
}

.btn{
  padding: 5px;
  color: white;
  background-color: blue;
  display: inline-block;
  height: 30px;
}

.btn:hover{
  background-color: cornflowerblue;
}

.btn:active{
  background-color: blue;
}

/********** NAV  *************/
nav{
  position: fixed;
  height: 80px;
  width: 100%;
  background-color:white;
}

nav a {
  font-size: 12px;
  text-align: center;
  display: block;text-decoration: none;
  color: black;
}

nav a:hover {
  border-bottom: 2px solid black;
}

nav a:active {
  color: red;
}


nav .box.left{
  width: 450px;
  float: left;
  height: 80px;
}

nav .box.right {
  width: 450px;
  float: right;
  height: 80px;
}

nav .box.left .item {
  width: calc(100% / 4);
  float: left;
  height: 80px;
  background-color: white;
  line-height: 79px;
}

nav .box.left .item.uno img {
  width: 100%;
  padding: 0 10px;
}

nav .box.right .item {
  float: left;
  height: 80px;
  line-height: 79px;
}

nav .box.right .item.uno ,nav .box.right .item.tre,nav .box.right .item.quattro{
  width: 20%;
}

nav .box.right .item.due{
  width: 40%;
}

nav .box.right .item.quattro {
 position: relative;
 line-height: normal;
}

nav .box.right .item.quattro .btn {
  position: absolute;
  height: 30px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}



/********** HEADER ***********/
 
header{
  background-color: rgb(74, 165, 165);
  height: 86vh;
  width: 100%;
  padding-top: 80px;
}

header h1{
  padding-top: 50px;
  font-size: 50px;
  font-weight: bold;
}

header .box{
  margin-top: 20px;
  float: left;
}

header .box.left{
  width: 40%;
}

header .box.right{
  width: 60%;
}

header .btn{
  margin-top: 20px;
}

header .box.left .text{
  padding: 10px 0;
}

header .box.left .entity-code{
  font-size: 70px;
  font-weight: 1000;
}

header .box.right img{
  width: 100%;
  
}

/********** MAIN  **********/

/* box uno  */

.box.uno{
  margin-top: 50px;
}

.box.uno .item.top{
  background-color: blueviolet;
  width: calc(100% / 3);
  height: 100px;
  float: left;
  border: 1px solid black;
}

.box.uno .item.bottom{
  background-color: blueviolet;
  width: 100% ;
  height: 100px;
  float: left;
  border: 1px solid black;
}

/* box due  */

.box.due{
  margin-top: 50px;
}

.box.due .item{
  background-color: blueviolet;
  width: 50% ;
  height: 100px;
  float: left;
  border: 1px solid black;
}

/* box tre  */

.box.tre{
  margin-top: 50px;
}

.box.tre .item.top{
  background-color: blueviolet;
  width: calc(100% / 3);
  height: 100px;
  float: left;
  border: 1px solid black;
}

.box.tre .item.bottom{
  background-color: blueviolet;
  width: 100% ;
  height: 100px;
  float: left;
  border: 1px solid black;
}

/* box quattro  */

.box.quattro{
  margin-top: 50px;
}

.box.quattro .item.top{
  background-color: blueviolet;
  width: calc(100% / 3);
  height: 100px;
  float: left;
  border: 1px solid black;
}

.box.quattro .item.bottom{
  background-color: blueviolet;
  width: 100%;
  height: 100px;
  float: left;
  border: 1px solid black;
}

/* .box.quattro .item.top.left .square */

.box.quattro .item.top.left .square.uno{
  background-color: orange;
  width: 50%;
  height: 50px;
  float: left;
  border: 1px solid black;
}
.box.quattro .item.top.left .square.due{
  background-color: rgb(41, 180, 36);
  width: 50%;
  height: 50px;
  float: left;
  border: 1px solid black;
}
.box.quattro .item.top.left .square.tre{
  background-color: rgb(226, 25, 183);
  width: 50%;
  height: 50px;
  float: left;
  border: 1px solid black;
}
.box.quattro .item.top.left .square.quattro{
  background-color: rgb(190, 205, 216);
  width: 50%;
  height: 50px;
  float: left;
  border: 1px solid black;
}

/* .box.quattro .item.top.right .square */

.box.quattro .item.top.right .square.uno{
  background-color: orange;
  width: 50%;
  height: 50px;
  float: left;
  border: 1px solid black;
}
.box.quattro .item.top.right .square.due{
  background-color: rgb(41, 180, 36);
  width: 50%;
  height: 50px;
  float: left;
  border: 1px solid black;
}
.box.quattro .item.top.right .square.tre{
  background-color: rgb(226, 25, 183);
  width: 50%;
  height: 50px;
  float: left;
  border: 1px solid black;
}
.box.quattro .item.top.right .square.quattro{
  background-color: rgb(190, 205, 216);
  width: 50%;
  height: 50px;
  float: left;
  border: 1px solid black;
}

/* .box.quattro .item.bottom */

.box.quattro .item.bottom .square.left{
  background-color: red;
  width: 50%;
  height: 100px;
  float: left;
  border: 1px solid black;
}

.box.quattro .item.bottom .square.right{
  background-color: blue;
  width: 50%;
  height: 100px;
  float: left;
  border: 1px solid black;
}

/* box cinque  */

.box.cinque{
  margin-top: 50px;
}

.box.cinque .item{
  background-color: blueviolet;
  width: 100%;
  height: 100px;
  border: 1px solid black;
}

/* ********FOOTER******** */

footer{
  margin-top: 50px;
  background-color: gray;
  width: 100%;
  height: 500PX;
}

footer ul{
  list-style: none;
  display: inline-block;
  width: 19%;
  padding-left: 6%;
}
